/* 自定义CSS */




/* SVG图标基础色 */
svg { fill: rgb(255, 255, 255); }



.panel-left {
    border: 0px !important;
}
.panel-right {
    border: 0px !important;
    border-radius: 0px !important;
}
/* 伸缩盒子 */
.d-flex {
    display: flex !important;
    flex-direction: row !important;/*横向*/
}

/*背景图片*/

.bg-image {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(http://p0.so.qhimgs1.com/bdr/200_200_/t01f79de6e576d842ba.jpg);
    background-position-x:center;
    background-position-y:center;
}

/*顶栏*/
.navbar {
	border-radius: unset !important;
	height: 37px !important;/*顶栏高度*/
	min-height: unset !important;
}

/*面板*/
.panel {

    border-radius: unset !important;

}