

.footer {
	background-color:#222;
	color: rgb(255, 255, 255);

}

.footer {
	background-color:#222;
}



@media ( min-width : 1200px) {

	.footer .container {
		width: auto;
	}
}

@media ( min-width : 992px) {

	.footer .container {
		width: auto;
	}
}

@media ( min-width : 768px) {

	.footer .container {
		width: auto;
	}
}